footer {
    background-color: #1e1549;
    background-image: url(../img/ido-launchpad-bg.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
}
ul.list-ft a{
    color:#fff;
}
ul.contact-no-list a{
    color:#fff;
}
footer:before {
    background: #00000059;
}
.copy-right{
    color:#fff;
}